body {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    display: grid;
    grid-template-columns: 1fr 25fr 1fr;
    grid-template-areas:
    "aside-h-l header  aside-h-r"
    "aside-c-l  content asidec-r"
    "footer footer  footer";
    background-color: #296049!important; 
    width: 100%;
   
}

.header-box {
    max-width: 100rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: darkslategray!important;
}
grid-header{
    padding-top: 2rem;
    grid-area: header;
}


main-content{
    grid-area: content;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    background-color: white!important;
}
form-content {
    grid-column: 2/3;
    grid-row: 1/1;
    width: 100%;
    height: 100%;
}

grid-footer{
    padding-top: 2rem;
    grid-area:footer;
    background-color: 296049!important; 
}

.footer-box {
    max-width: 1000rem;
    width: 100%;
    background-color: darkslategray!important;
}