<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="formCadastro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <title>Formulário cadastro</title>
</head>
<body>
    <grid-header>
        <h1 class="text-white text-center">
            Formulário de Cadastro
        </h1>
    </grid-header>
    <main-content>
        <form-content>
            <form class="pt-3" action="http://localhost:8080/formcadastro" method="POST" id="formCadastro">
                <div class="form-group row">
                    <label for="nome">Nome Completo: </label>
                    <input type="text" name="nome" class="form-control" id="nome" require>
                </div>
                <div class="form-group row" >
                    <label for="pessoaTipo"> Identificação: </label>
                    <select name="pessoaTipo" class="form-control" id="pessoaTipo" require>
                        <option value="1">Pessoa Física</option>
                        <option value="2">Pessoa Jurídica</option>
                    </select>
                </div>

                <div class="form-group row" id="razaoSocialForm" style="display: none;"> 
                    <label for="razaoSocial">Razão Social: </label>
                    <input type="text" name="razaoSocial" class="form-control" id="razaoSocial" require>
                </div>

                <div class="form-group row" id="cpfForm" style="display: block;">
                    <label for="cpf">CPF: </label>
                    <input type="text" name="cpf" class="form-control" id="cpf" require>
                </div>
                <div class="form-group row" id="cnpjForm" style="display: none;">
                    <label for="cnpj">CNPJ: </label>
                    <input type="text" name="cnpj" class="form-control" id="cnpj" require>
                </div>
                <div class="form-group row" id="generoForm" style="display: block;">
                    <label for="genero"> Genero: </label>
                    <select name="genero" class="form-control" id="genero" require>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outro</option>
                    </select>
                </div>
                <div class="form-group row" id="dataNascForm" style="display: block;">  
                    <label for="dataNascimento">Data de Nascimento:  </label>
                    <input type="date" name="dataNascimento" id="dataNascimento" require>
                </div>
                <div class="form-group row">
                    <label for="email">E-MAIL: </label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                <div class="form-group row">
                    <label for="tel">Telefone: </label>
                    <input type="tel" name="telefone" class="form-control" id="tel">
                </div>
                <div class="form-group row">
                    <label for="tel">Celular: </label>
                    <input type="tel" name="celular" class="form-control" id="cel">
                </div>
                <div class="form-group row">
                    <label for="foto">Foto: </label>
                    <input type="url" name="foto" placeholder="Inserir URL" class="form-control" id="foto">
                </div>
                
                <div class="form-group row card">
                    <div class="card-header">
                        <div class="card-title">
                            Endereços
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            Endereço 1:
                        </div>

                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="logradouro">Logradouro: </label>
                                <input type="text" name="logradouro" placeholder="Rua, Av, etc." class="form-control" id="logradouro">
                            </div>
                            <div class="form-group col">
                                <label for="numero">Número:  </label>
                                <input type="text" name="numero" class="form-control" id="numero">
                            </div>
                            <div class="form-group col">
                                <label for="complemento">Complemento:  </label>
                                <input type="text" name="complemento" class="form-control" id="complemento">
                            </div>
                        </div>
                
                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="cep">CEP:  </label>
                                <input type="text" name="cep" class="form-control" id="cep">
                            </div>
                            <div class="form-group col">
                                <label for="estado"> Estado: </label>
                                <select name="estado" class="form-control" id="estado" require>
                                    <option value="1">PR</option>
                                </select>
                            </div>
                            <div class="form-group col">
                                <label for="cidade"> Cidade: </label>
                                <select name="cidade" class="form-control" id="cidade" require>
                                    <option value="1">Curitiba</option>
                                </select>
                            </div>
                            
                        </div>
    
                        <div class="row py-3">
                            <button class="btn btn-secondary">Adicionar Novo Endereço</button>
                        </div>
                    </div>
    
                </div>


                <div class="row py-3 px-0">
                    <button class="btn btn-secondary btn-large btn-block"> Enviar Formulário</button>
                </div>
                
                <script>
                    function onIdentificacaoChange() {
                        console.log(document.getElementById("pessoaTipo").value);

                        if (document.getElementById("pessoaTipo").value == 2) {
                            
                            document.getElementById("cpfForm").style.display = "none";
                            document.getElementById("dataNascForm").style.display = "none";
                            document.getElementById("generoForm").style.display = "none";
                            document.getElementById("cnpjForm").style.display = "block";
                            document.getElementById("razaoSocialForm").style.display = "block";
                        } else {
                            document.getElementById("cpfForm").style.display = "block";
                            document.getElementById("dataNascForm").style.display = "block";
                            document.getElementById("generoForm").style.display = "block";
                            document.getElementById("cnpjForm").style.display = "none";
                            document.getElementById("razaoSocialForm").style.display = "none";
                        }
                    }

                    document.getElementById("pessoaTipo").addEventListener("change", onIdentificacaoChange);
                    
                    $('#cpf').mask('000.000.000-00');
                    $('#cnpj').mask('00.000.000/0000-00');
                    $('#tel').mask('(00) 00000-0000');
                    $('#cel').mask('(00) 00000-0000');
                </script>

                <script>
                    $(document).ready(()=> {
                        
                        $('#formCadastro').submit(function() {
                            $('#formCadastro').preventDefault();
                            var formArray = $('#formCadastro').serializeArray();
                            var formObj = {};

                            $.map(formArray, function(obj, index){
                                formObj[obj['name']] = obj['value'];
                            });

                            $.ajax({
                                url: "http://localhost:8080/formcadastro",
                                type: 'post',
                                contentType:"application/json; charset=utf-8",
                                data: JSON.stringify(formObj)
                            });
                        });
                        
                    });
                </script>
                
            </form>
        </form-content>     
    </main-content>
    <grid-footer>
        <span class="text-white text-center">
           <small>
                2020 ©EmanuelPontes - Formulário de cadastro
           </small> 
        </span>
    </grid-footer>    
</body>
</html>