<form id="getEnrolledUsersForm">
    <div class="form-group row" >
        <label class="text-white" for="consulta"> Buscar: </label>
        <select name="consulta.tipo" class="form-control" id="consulta" required>
            <option value="pf">Pessoa Física</option>
            <option value="pj">Pessoa Jurídica</option>
        </select>
    </div>

    <div class="form-group row" id="cnpjForm" style="display: none;">
        <label class="text-white" for="cnpj">CNPJ: </label>
        <input type="text" name="consulta.cnpj" class="form-control" id="cnpj">
    </div>

    <div class="form-group row" id="cpfForm" style="display: block;">
        <label class="text-white" for="cpf">CPF: </label>
        <input type="text" name="consulta.cpf" class="form-control" id="cpf">
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary" id="getEnrolledUsers">Consultar Usuário</button>
    </div>
   
</form>
<script>
    $(document).ready( () => {
        $('#cpf').mask('000.000.000-00');
        $('#cnpj').mask('00.000.000/0000-00');

        function onIdentificacaoChange() {
            document.getElementById((document.getElementById("consulta").value == "pj") ? "cpfForm" : "cnpjForm").style.display = "none";

            document.getElementById((document.getElementById("consulta").value == "pj") ? "cnpjForm" : "cpfForm").style.display = "block";
            
            document.getElementById((document.getElementById("consulta").value == "pj") ? "cnpj" : "cpf").innerHTML = "";
        }
    
        document.getElementById("consulta").addEventListener("change", onIdentificacaoChange);

        $('#getEnrolledUsersForm').submit(function(event) {
            event.preventDefault();

            $('div').remove('#resultGetUsers');

            var formArray = $('#getEnrolledUsersForm').serializeArray();
            
            var formObj = formToObj(formArray);

            var objConsulta = {pessoaTipo: formObj.consulta.tipo};
            
            if ((formObj.consulta.cnpj != "") || (formObj.consulta.cpf != "")) {
                
                objConsulta['id'] = (formObj.consulta.tipo == "pj") ? formObj.consulta.cnpj : formObj.consulta.cpf;
            }

            var jqXHR = $.ajax({
                url: "/cadastro",
                type: 'get',
                headers: { "Authorization": 'Bearer ' + localStorage.getItem('authToken') },
                contentType:"application/json; charset=utf-8",
                data: objConsulta
            });

            jqXHR.done(function(data) {
                var divRow = document.createElement("div");
                divRow.className = "table-responsive-sm px-0 py-0";
                divRow.id = "resultGetUsers";
                var tableMatrix = [];

                var lineHeader = ('cnpj' in data[0]) ? ["", "CNPJ", "Nome", "Email", "Celular"] : ["", "CPF", "Nome", "Email", "Celular"];
                
                tableMatrix.push(lineHeader);
                
                for (let obj of data) {
                    var line = [];
                    var objPessoa = obj.pessoaDados;
                    
                    for (key of tableMatrix[0]) {
                        var lowerCaseKey = key.toLowerCase();
                        if (key === "") {
                            var imgStr = '<img src="' + objPessoa['fotoUrl'] + '" style="width: 100%; max-width: 5rem; height: auto" >';
                            line.push(imgStr);
                        }
                        else if ((lowerCaseKey === "cpf") || (lowerCaseKey === "cnpj")) {
                            line.push(obj[lowerCaseKey]);
                        } else {
                            line.push(objPessoa[lowerCaseKey]);
                        }
                        
                        
                    }
                    tableMatrix.push(line);
                }

                var table = createTable(tableMatrix);
                table.style = "width: 100%!important;";
                table.className = "table table-sm border-0 text-white table-hover bg-page-default";

                divRow.appendChild(table);
                $("#content").append(divRow);

            });

            jqXHR.fail(function(data) {
                if(data != "") {
                    alert(data);
                } else {
                    alert("Falha ao realizar consulta");
                }
                
            });

        });
        
    });
</script>