<form id="loginForm" method="POST">
    <div class="text-center form-group row-6" >
        <input class="border-0 rounded py-3" style="width: 100%;" type="text" placeholder="Usuário" name="user" class="form-control" id="user">    
    </div>
    <div class="text-center form-group row-6" >
        <input class="border-0 rounded py-3" style="width: 100%;" type="password" placeholder="Senha" name="password" class="form-control" id="password">
    </div>
    <div class="text-center py-1">
        <button class="btn btn-secondary btn-large btn-block" type="submit">Entrar</button>
    </div>
</form>
<script>
    $(document).ready(()=> {
        
        $('#loginForm').submit(function(event) {
            event.preventDefault();
            var formArray = $('#loginForm').serializeArray();
            var formObj = {};

            $.map(formArray, function(obj, index){
                formObj[obj['name']] = obj['value'];
            });

            var jqXHRPost = $.ajax({
                    url: "/auth",
                    type: 'post',
                    contentType:"application/json; charset=utf-8",
                    data: JSON.stringify(formObj)
            });

            jqXHRPost.done(function(data) {
                alert("Sucesso");
                window.location.href = data;
            });

            jqXHRPost.fail(function() {
                alert("Falha na autencicação");
            });


            
        });
        
    });
</script>